<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
 
    <property name="connection.url">jdbc:hsqldb:mem:playground;shutdown=true</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"></property>
    <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
 
 	<!-- Wirte sql statement to console -->
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <!-- Drop DB schema on SessionFactory closing. Be careful with production system -->
    <property name="hbm2ddl.auto">create-drop</property>
 
    <!-- Use hibernate default pooling, you may want to replace it with more efficient one for production -->
    <property name="connection.pool_size">1</property>
    <property name="current_session_context_class">thread</property>

    <mapping class="ca.zl.domain.Computer" />

</session-factory>
</hibernate-configuration>